{% extends'base.html.twig' %}

{% block main %}

    <ul class="leg_ul">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"</li>
    </ul>

    <section id="listes_recues">

        <h2>Mes listes reçues</h2>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th type hidden>ID</th>
                    <th>Expéditeur</th>
                    <th>Projet</th>
                    <th>Tâche</th>
                    <th>Pour le</th>
                    <th>Statut</th>
                    <th>Message</th>
                    <th>Voir la liste</th>
                </tr>
                </thead>
                <tbody>

                {% for tache in taches %}
                    <tr>
                        <td type hidden>{{ tache.id }}</td>
                        <td>{{ tache.expediteur.prenom ~' '~ tache.expediteur.nom }}</td>
                        <td>{{ tache.projet.titre }}</td>
                        <td>{{ tache.titre }}</td>
                        <td>{{ tache.date|date('d/m/Y') }}</td>

                        {% if tache.statut=='Fait' %}
                            <td class="fait statut"><i class="fa-solid fa-circle-check"></i></td>
                        {% elseif tache.statut == 'Fait partiellement' %}
                            <td class="partiellement statut"><i class="fa-solid fa-circle-check"></i></td>
                        {% elseif tache.statut == 'A faire' %}
                            <td class="faire statut"><i class="fa-regular fa-hourglass"></i></td>
                        {% else %}
                            <td class="impossible statut"><i class="fa-solid fa-circle-xmark"></i></i></td>
                        {% endif %}

                        <td class="overflow">{{ tache.message }}</td>
                        <td><a class="btn" href="{{ path('update_tache', {'id':tache.id}) }}">Voir la liste</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>


    <section id="listes_envoyées">
        <h2>Mes listes envoyées</h2>

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th type hidden>ID</th>
                        <th>Destinataire</th>
                        <th>Projet</th>
                        <th>Tâche</th>
                        <th>Pour le</th>
                        <th>Statut</th>
                        <th>Message</th>
                        <th>Editer la liste</th>
                        <th>Supprimer la liste</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tachesend in tachesends %}
                        <tr>
                            <td>{{ tachesend.destinataire.prenom~' '~ tachesend.destinataire.nom}}</td>
                            <td>{{ tachesend.projet.titre }}</td>
                            <td>{{ tachesend.titre }}</td>
                            <td>{{ tachesend.date|date('d/m/Y') }}</td>

                            {% if tachesend.statut =='Fait' %}
                                <td class="fait statut"><i class="fa-solid fa-circle-check"></i></td>
                            {% elseif tachesend.statut =='Fait partiellement'  %}
                                <td class="partiellement statut"><i class="fa-solid fa-circle-check"></i></td>
                            {% elseif tachesend.statut == 'A faire' %}
                                <td class="Faire statut"><i class="fa-regular fa-hourglass"></i></td>
                            {% else %}
                                <td class="impossible statut"><i class="fa-solid fa-circle-xmark"></i></td>
                            {% endif %}
                            <td class="overflow">{{ tachesend.message }}</td>
                            <td><a class="btn" href="{{ path('edit_tache', {'id': tachesend.id})}}">Editer </a></td>
                            <td><a class="btn" href="{{ path('delete_tache', {'id':tachesend.id}) }}">Supprimer </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}